@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background-color: #680202;
    color: 	#FAF0E6;
    font-family: "Radio Canada", sans-serif;
}

/* Header */
header {
    background-color: #680202;
    color: 5B0707;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #fffafa;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}